{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-conten padding-y bg">

{% include 'partials/notification.html' %}
<div class="container">
	<div class="row">
{% include 'customer/sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3 float-right">Change password</strong>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<form action="{% url 'update_password' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label>Current password<span class="text-danger"> *</label>
								<input type="password" name="current_password" class="form-control form-control-lg rounded" placeholder="Current password" required>
						</div>
						<div class="form-group">
							<label>New password<span class="text-danger"> *</label>
							<input type="password" name="new_password" class="form-control form-control-lg rounded" placeholder="New password" required>
						</div>
						<div class="form-group">
							<label>Confirm password<span class="text-danger"> *</label>
							<input type="password" name="confirm_password" class="form-control form-control-lg rounded" placeholder="Confirm password" required>
						</div>
						<input type="submit" value="Update" class="btn btn-lg btn-primary">
					</form>
				</div>
			</div>
    	</div>
    </article>
	</main>
</div>
</div>

</section>

{% endblock %}
