{% extends 'base.html' %} {% load static %} {% block content %}

<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
      <h2 class="title-page">Search results</h2>
    {% else %}
      <h2 class="title-page">Products store</h2>
    {% endif %}
  </div> 
  </section>
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1">
              <div class="card-body">
                <ul class="list-menu">
                  <li><a href="{% url 'product_store' %}">All products</a></li>
                  {% for category in categories %}
                  <li>
                    <a href="{{ category.get_url }}">{{ category.category_name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </article> 
        </div>
      </aside>
      <main class="col-md-9"> 
        <div class="row">	
          {% if products %}
            {% for product in products %}
              <div class="col-md-4">
                <figure class="card card-product-grid">
                  <div class="img-wrap">
                    <a href="{{ product.get_url }}" class="img-wrap"><img src="{{ product.product_image.url }}"/></a>
                  </div>
                  <figcaption class="info-wrap">
                    <div class="fix-height">
                      <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                      <div class="price-wrap mt-2">
                        <span class="price">{{ product.selling_price }}</span>
                        <div class="rating-star">
                          <span>
                            <i class="fa fa-star{% if product.product.average__review < 0.5 %}-o{% elif product.average__review >= 0.5 and product.average__review < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.average__review < 1.5 %}-o{% elif product.average__review >= 1.5 and product.average__review < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.average__review < 2.5 %}-o{% elif product.average__review >= 2.5 and product.average__review < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.average__review < 3.5 %}-o{% elif product.average__review >= 3.5 and product.average__review < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.average__review < 4.5 %}-o{% elif product.average__review >= 4.5 and product.average__review < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                          </span>
                          
                          {% if product.count_rating <= 0 %}
                            <span>{{product.average_review}} out of 5</span>
                            <br><span>{{product.count_rating}} global ratings</span><br>
                            {% else %}
                              <span>{{product.average_review}} out of 5</span>
                            <br><span>{{product.count_rating}} global ratings</span><br>
                            {% endif %}
                          
                        </div>
                      </div>
                    </div>
                    <a href="{{ product.get_url }}" class="btn btn-block btn-primary">View details</a>
                  </figcaption>
                </figure>
              </div>
            {% endfor %}
          {% else %}
            {% if recommended_products %}
              <div class="row row-sm">
                  <div class="col-md-12">
                    <h4>Products you may like</h4>
                  </div>
                      {% for product in recommended_products %}
                      <div class="col-md-6">
                        <figure class="card card-product-grid">
                          <div class="img-wrap">
                            <a href="{{ product.product.get_url }}" class="img-wrap"><img src="{{ product.product.product_image.url }}"/></a>
                          </div>
                          <figcaption class="info-wrap">
                            <div class="fix-height">
                              <a href="{{ product.product.get_url }}" class="title">{{ product.product.product_name }}</a>
                              <div class="price-wrap mt-2">
                                <span class="price">{{ product.product.selling_price }}</span>
                                <div class="rating-star">
                                  <span>
                                    <i class="fa fa-star{% if product.product.average__review < 0.5 %}-o{% elif product.product.average__review >= 0.5 and product.product.average__review < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.product.average__review < 1.5 %}-o{% elif product.product.average__review >= 1.5 and product.product.average__review < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.product.average__review < 2.5 %}-o{% elif product.product.average__review >= 2.5 and product.product.average__review < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.product.average__review < 3.5 %}-o{% elif product.product.average__review >= 3.5 and product.product.average__review < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.product.average__review < 4.5 %}-o{% elif product.product.average__review >= 4.5 and product.product.average__review < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                  </span>
                                  
                                  {% if product.count_rating <= 0 %}
                                    <span>{{product.product.average_review}} out of 5</span>
                                    <br><span>{{product.count_rating}} global ratings</span><br>
                                    {% else %}
                                      <span>{{product.product.average_review}} out of 5</span>
                                    <br><span>{{product.count_rating}} global ratings</span><br>
                                    {% endif %}
                                  
                                </div>
                              </div>
                            </div>
                            <a href="{{ product.product.get_url }}" class="btn btn-block btn-primary">View details</a>
                          </figcaption>
                        </figure>
                      </div> 
                      {% endfor %}
              </div>
            {% else %}
              <h4>No product founded!</h4>
            {% endif %}
          {% endif %} 
        </div>
        <nav class="mt-4" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
            <ul class="pagination">
              {% if products.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %}
        
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
        
              {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
          {% endif %}
        </nav>
        
      </main>
    </div>
  </div>
</section>

{% endblock %}
