{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="card mx-auto" style="max-width: 380px; margin-top:10px;">

      <div class="card-body">
        <center><img class="lock" src="{% static './images/lock.png' %}" /> 
          <h4 class="card-title mb-4">Trouble logging in?</h4>
        </center>
        {% include 'partials/notification.html' %}
        <form action="{% url 'forgot_password' %}" method="POST">
          {% csrf_token %}
            <label>Enter your email and we will send you a link to get back into your account.<span class="text-danger"> *</label>
            <div class="form-group">
              <input type="email" name="email" class="form-control form-control-lg rounded" placeholder="Email" required >
            </div>  
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn btn-primary btn-block">Request a new password</button>
            </div> 
        </form>
      </div>  
    </div>  
     <p class="text-center mt-4">Don't have account? <a href="{% url 'registration' %}">Sign up</a></p>
     
{% endblock %}
