{% extends 'base.html' %}

{% block content %}
	<div class="card mx-auto" style="max-width: 380px; margin-top:10px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Create new password</h4>
      {% include 'partials/notification.html' %}
      <form action="{% url 'reset_password' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
				<label>New password<span class="text-danger"> *</label>
			 <input type="password" name="password" class="form-control form-control-lg rounded" placeholder="New password" >
          </div> 
          <div class="form-group">
				<label>Confirm new password<span class="text-danger"> *</label>
			<input type="password" name="confirm_password" class="form-control form-control-lg rounded" placeholder="Confirm password" >
          </div> 
          <div class="form-group">
              <button type="submit" class="btn btn-lg btn btn-primary btn-block">Create new password</button>
          </div>  
      </form>
      </div> 
    </div>  

     <p class="text-center mt-4">Don't have account? <a href="{% url 'registration' %}">Sign up</a></p>
     <br>
{% endblock %}
