{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-intro padding-y-sm">
    <div class="card mx-auto" style="max-width: 1000px; margin-top:15px;">
        <div class="container">
            <h3>About us</h3>
                <p>Mwampamba shop has independently created a cross-border e-commerce trading platform and is committed to helping global businesses to develop B2C services in Africa through serving the end user customers directly. With the help of Mobile penetration and internet (4G) user growth, we can serve our customers in Africa by starting in Tanzania with confidence.
                </p>  
        </div>
    </div>
</section>


{% endblock %} 