{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-intro padding-y-sm">
    <div class="card mx-auto" style="max-width: 1000px; margin-top:15px;">
    <div class="container">
        <h3>Privacy policy</h3>
            <p>Your privacy is important to mwampamba shop and always has been. So we have developed a Privacy policy that covers how we collect, use, disclose, transfer, and store your information. Please take a moment to familiarize yourself with our privacy practices and let us know if you have any questions.
                By visiting mwampamba shop, you are accepting the practices described in this Privacy notice.
            </p> 
            <p style="font-weight: bold;">By visiting mwampamba shop, you are accepting the practices described in this Privacy notice.</p>
            
            <h5 style="margin-top: 36px;">1. About this notice</h5>
                <p style="font-weight: bold;">By visiting mwampamba shop, you are accepting the practices described in this Privacy notice.</p>
                <p>This Privacy and Cookie Notice provides information on how mwampamba shop collects and processes your personal data when you visit our website.</p>
                <ul style="margin-top: 16px;">
                    <li style="list-style-type: disc; line-height: 24px;">Process orders</li> 
                    <li style="list-style-type: disc; line-height: 24px;">Process payments and communicate with you about your orders, products, services and promotional offers</li>
                    <li style="list-style-type: disc; line-height: 24px;">Keep and update our database and your accounts with us</li>
                    <li style="list-style-type: disc; line-height: 24px;">Propose a unique and targeted navigation experience</li>
                </ul>

            <h5 style="margin-top: 36px;">2. The data we collect about you</h5>
                <p class="">We collect your personal data in order to provide and continually improve our products and services. We may collect, use, store and transfer the following different kinds of personal data about you:</p>
                <ul style="margin-top: 16px;">
                    <li style="list-style-type: disc; line-height: 24px;">Information you provide to us: We receive and store the information you provide to us including your identity data, contact data, delivery address and financial data.</li>
                    <li style="list-style-type: disc; line-height: 24px;">Information on your use of our website: We automatically collect and store certain types of information regarding your use of the mwampamba shop including information about your searches, views, downloads and purchases.</li>
                    <li style="list-style-type: disc; line-height: 24px;">Information from third parties and publicly available sources: We may receive information about you from third parties including payment service providers.</li>
                </ul>
            <h5 style="margin-top: 36px;">3. Cookies and how we use them</h5> 
            <p class="">Cookies allow us to distinguish you from other users of our website, which helps us to provide you with an enhanced browsing experience. For example we use cookies for the following purposes:</p>
            <ul style="margin-top: 16px;">
                <li style="list-style-type: disc; line-height: 24px;">Recognising and counting the number of visitors and to see how visitors move around the site when they are using it (this helps us to improve the way our website works, for example by ensuring that users can find what they are looking for).</li>
                <li style="list-style-type: disc; line-height: 24px;">Identifying your preferences items stored in your cart etc.</li>
            </ul>

            <h5 style="margin-top: 36px;">4. Data security</h5>
            <p>We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorised way, altered or disclosed.</p>
            <p class="">In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions and they are subject to a duty of confidentiality.</p>
            <p class="">We have put in place procedures to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.</p>

            <h5 style="margin-top: 36px;">5. Manage your account</h5>
            <p class="">Through your account "Settings" you are able to access, edit or delete information you've provided to us, including:</p>

            <ul style="margin-top: 16px;">
                <li style="list-style-type: disc; line-height: 24px;">Name and password</li>
                <li style="list-style-type: disc; line-height: 24px;">Physical address</li>
                <li style="list-style-type: disc; line-height: 24px;">Phone number</li>
                <li style="list-style-type: disc; line-height: 24px;">Payment method or payments services provider</li>
                <li style="list-style-type: disc; line-height: 24px;">User profile information</li>
            </ul> 
            <br>
        </div>
    </div>
</section>

{% endblock %} 